.backgroundAndTravelBar {
	background: url('../../assets/BackgroundTDNColor2.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 700px;
	min-width: 100%;
	position: absolute;

	/* position: relative; */
}

.image {
	/* top: 0;
	left: 0; */
	/* Preserve aspect ratio */
	/* min-width: 100%;
	min-height: 100%; */
}

.attractionBar {
	/* position: absolute;
	bottom: 0px;
	z-index: 1; */
}

.TravelBar {
	position: absolute;
	top: 40px;
}

.center {
	position: relative;
	/* top: 20%; */
	opacity: 100%;
	margin: auto;
	width: 50%;
}
