.Attraction {
	height: 150px;
	width: 150px;
	background-color: rgb(141, 166, 168);
	opacity: 0.8;
	border-radius: 50%;
	display: flex;
	margin: 15px;
	align-items: bottom;
	flex-direction: column-reverse;
	position: relative;
}

.Text {
	z-index: 10;
	position: absolute;
	align-items: center;
}

.Attraction:hover {
	transform: scale(1.1);
	transition: all ease 100ms;
}

.ant-popover-content p {
	margin: 0;
}

.Photo {
	height: 150px;
	width: 150px;
}
